<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>Home page <%= 10 * 10 %></h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt
			officia, nesciunt, dicta quis nihil quaerat beatae ducimus totam tempora
			iusto labore nam hic tenetur natus asperiores ab, ipsam rem!
		</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt
			officia, nesciunt, dicta quis nihil quaerat beatae ducimus totam tempora
			iusto labore nam hic tenetur natus asperiores ab, ipsam rem!
		</p>
	</body>
</html>
